<!DOCTYPE html>
<html>
    <h1>Today</h1>
   <%a=Date.today.strftime("%A")%>
   <%b=Date.today.strftime("%B")%>
   <%d=Date.today.strftime("%d")%>
   <%y=Date.today.strftime("%Y")%>


    <p>The date is <%=a%>, <%=b%> <%=d%>, <%=y%></p>

</html>


#   it 'includes the current date and time' do
#       if last_response.status == 200
#         expect(last_response.body).to include(Date.today.strftime("%A, %B %d, %Y"))
#       elsif last_response.status = 404
#         fail "Your application is not responding to GET /date. Did you create that route?"
#       end
